*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #303030;
}
.link:hover{
    border: 1px solid #ee7560;
    color: #ee7560;
}
.dropbtn {
    color: #303030;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .btn-hover-effect{
    position: relative;
  }

  .btn-hover-effect .dropdown-menu-btn {
    display: none;
  }
  .btn-hover-effect:hover .dropdown-menu-btn {
    display: block;
    position: absolute;
    top: 2.5rem;
    border: 1px solid #0000003d;
    padding: 0.5rem;
    width: max-content;
    box-shadow: 2px 3px 2px 2px #0000002e;
    border-radius: 10px;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}